<!DOCTYPE html>
<html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">

<style type="text/css">
    
.p1 {
    /* overflow: hidden; 
    position: relative; 
    background-color: rgb(255, 255, 255); 
    width: 909px; 
    height: 1286px;
    padding: 30px;
    border: 1px solid tomato; */
    position:absolute;left:50%;margin-left:-294px;top:0px;width:588px;height:841px;border-style:outset;overflow:hidden

}

.head{
    font-family: 'Trirong', serif;
    font-size: 30px;
    font-weight: 200;
    margin: 0px 0px 2px 0px;
    text-align: center;
    justify-content: center;
    
}

.headeng {
    text-align: center;
    font-family: 'Trirong', serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0px 0px 4px 0px;
}

.subhead {
    text-align: center;
    font-family: 'Trirong', serif;
    font-size: 15px;
    font-weight: 300;
    margin: 0px 0px 4px 0px;
}

.headright {
    text-align: right;
    font-family: 'Trirong', serif;
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.header {
    display: flex;
}

.text {
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.text1 {
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    
}

.text2 {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
    
}


.titleadd{
    font-family: 'Trirong', serif;
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0px 2px 0px;
    text-align: left;
    justify-content: center;
    font-family: 'Trirong', serif;
    
}

.img-logo {
    height: 136px;
    background-color: transparent;
    width: 136px;
    position: relative;
}

.title {
    text-align: center;
    width: 80%;
    font-family: 'Trirong', serif;
}

.sb-title{
    display: flex;
    justify-content: center;
}

.form-content {
    font-family: 'Trirong', serif;
}

.form-content2 {
    font-family: 'Trirong', serif;
}

.ro-26{
    width: 20%;
    text-align: right;
}


.row {
    display: flex;
}

.col-6 {
    flex: 0 0 50%;
}

.col-3 {
    flex: 0 0 25%;
}

.col-33 {
    flex: 0 0 33.33333333333333%;
    height: 100%;
    max-width: 33.33333333333333%;
    word-wrap: break-word;
}

.info-box {
    text-align: left;
    word-wrap: break-word;
}


.comment-box {
    padding: 5px;
    border: 1px solid black;
    margin: 10px 12px;
    text-align: center;
}

.col-1 {
    flex: 0 0 30%;
    padding: 10px;

}

.col-2 {
    flex: 0 0 20%;
}

hr {
    margin-top: 16px;
}

.t1 {
    font-family: 'Trirong', serif;
    width: 10px;
    position: absolute;
    top: 11.4%;
    left: 47.5%;
    color: rgb(255, 71, 58);
}

.t2 {
    font-family: 'Trirong', serif;
    width: 40px;
    position: absolute;
    top: 11.4%;
    left: 58.5%;
    color: rgb(255, 71, 58);
}

.t54 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 396px;
    position: absolute;
    top: 16.0%;
    left: 6.0%;
    color: rgb(255, 71, 58);
}

.t55 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 396px;
    position: absolute;
    top: 19.1%;
    left: 6.0%;
    color: rgb(255, 71, 58);
}

.t3 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 22.3%;
    left: 21.5%;
    color: rgb(255, 71, 58);
}

.t4 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 302px;
    position: absolute;
    top: 22.3%;
    left: 64.9%;
    color: rgb(255, 71, 58);
}

.t5 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 392px;
    position: absolute;
    top: 25.5%;
    left: 6.8%;
    color: rgb(255, 71, 58);
}

.t6 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 330px;
    position: absolute;
    top: 25.5%;
    left: 62.1%;
    color: rgb(255, 71, 58);
}

.t7 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 113px;
    position: absolute;
    top: 28.7%;
    left: 13.5%;
    color: rgb(255, 71, 58);
}

.t8 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 85px;
    position: absolute;
    top: 28.7%;
    left: 38.5%;
    color: rgb(255, 71, 58);
}

.t9 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 164px;
    position: absolute;
    top: 28.7%;
    left: 53.5%;
    color: rgb(255, 71, 58);
}

.t10 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 162px;
    position: absolute;
    top: 28.7%;
    left: 79.5%;
    color: rgb(255, 71, 58);
}

.t11 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 392px;
    position: absolute;
    top: 31.8%;
    left: 6.9%;
    color: rgb(255, 71, 58);
}

.t12 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 385px;
    position: absolute;
    top: 31.8%;
    left: 56.5%;
    color: rgb(255, 71, 58);
}

.t56 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 285px;
    position: absolute;
    top: 35%;
    left: 13.9%;
    color: rgb(255, 71, 58);
}

.t57 {
    font-family: 'Trirong', serif;
    text-align: left;
    width: 850px;
    position: absolute;
    top: 40.5%;
    left: 5.9%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.t49 {
    font-family: 'Trirong', serif;
    width: 265px;
    height: 182px;
    position: absolute;
    top: 64.6%;
    left: 5.2%;
    color: rgb(255, 71, 58);
    word-break: break-word;
    text-align: left;
}

.t50 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 265px;
    height: 24px;
    position: absolute;
    top: 78.2%;
    left: 5.2%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.t51 {
    font-family: 'Trirong', serif;
    width: 265px;
    height: 182px;
    position: absolute;
    top: 64.6%;
    left: 36.4%;
    color: rgb(255, 71, 58);
    word-break: break-word;
    text-align: left;
}

.t52 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 265px;
    height: 24px;
    position: absolute;
    top: 78.2%;
    left: 36.4%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.t53 {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 265px;
    height: 24px;
    position: absolute;
    top: 65.7%;
    left: 67.6%;
    color: rgb(255, 71, 58);
    word-break: break-word;
}

.signature {
    width: 100px;
    height: auto;
}

</style >
<title> RO01</title>
<body>
    <div class="p1">
        <div class="t1"><p><%= locals.student.studentInfo.semeter %></p></div>
        <div class="t2"><p><%= locals.student.studentInfo.academic_year %></p></div>
        <div class="t54"><p><%= locals.data.title %></p></div>
        <div class="t55"><p><%= locals.data.to_name %></p></div>
        <div class="t3"><p><%= locals.student.name %></p></div>
        <div class="t4"><p><%= locals.student.studentInfo.student_code %></p></div>
        <div class="t5"><p><%= locals.student.studentInfo.faculty %></p></div>
        <div class="t6"><p><%= locals.student.studentInfo.department %></p></div>
        <div class="t7"><p><%= locals.student.studentInfo.education_level %></p></div>
        <div class="t8"><p><%= locals.student.studentInfo.gpax %></p></div>
        <div class="t9"><p><%= locals.student.studentInfo.level %></p></div>
        <div class="t10"><p>ปกติ</p></div>
        <div class="t11"><p><%= locals.student.studentInfo.phone %></p></div>
        <div class="t12"><p><%= locals.student.email %></p></div>
        <div class="t56"><p><%= locals.approves[0].teacher.name %></p></div>
        <div class="t57"><p><%= locals.data.reason %></p></div>
        <div class="t49"><p><%= locals.approves[0].comment %></p></div>
        <div class="t50"><img class="signature" src="<%= locals.approves[0].teacher.signature_url %>" alt="1.png" /></div>
        <div class="t51"><p><%= locals.approves[1].comment %></p></div>
        <div class="t52"><img class="signature"src="<%= locals.approves[1].teacher.signature_url %>" alt="1.png" /></div>
        <div class="t53"><img class="signature"src="url" alt="1.png" /></div>
        <div class="header">
            <div class="img-logo">
                <img src="https://www.img.in.th/images/bf3e5a1ed885f67f38b8abb9decf470e.jpg" alt="logo.jpg" />
            </div>
            <div class="title">
                <h1 class="head">มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h4>
                <h2 class="headeng">King Mongkut’s University of Technology Thonburi</h5>
                <h5 class="subhead">คำร้องทั่วไป</h5>
                <h5 class="subhead">General Request Form</h5>
                <div class="sb-title">
                    <p class="text">ภาคการศึกษาที่ ........... </p>
                    <p class="text">ปีการศึกษา ...........</p>
                </div>
            </div>
            <div class="ro-26">
                <h3 class="headright">RO-01</h1>
            </div>
        </div>
        <!-- LINE -->
        <hr size="1" width="100%" color="black">  
        <div class="form-content">
            <p class="text1">เรื่อง.................................................................................................... </p>
            <p class="text1">เรียน.................................................................................................... </p>
            <div class="row">
                <div class="col-6">
                    <p class="text1">ชื่อ-สกุล (นาย/นางสาว/นาง) ................................................................</p>
                </div>
                <div class="col-6">
                    <p class="text1">รหัสประจำตัวนักศึกษา .............................................................................</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text1">คณะ  ....................................................................................................</p>
                </div>
                <div class="col-6">
                    <p class="text1">ภาควิชา/สาขาวิชา  ....................................................................................</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text1">ระดับการศึกษา ..............................</p>
                </div>
                <div class="col-3">
                    <p class="text1">คะแนนเฉลี่ยสะสม ......................</p>
                </div>
                <div class="col-3">
                    <p class="text1">ชั้นปี ..........................................</p>
                </div>
                <div class="col-3">
                    <p class="text1">หลักสูตร .........................................</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text1">Tel :  .................................................................................................... </p>
                </div>
                <div class="col-6">
                    <p class="text1">E-Mail : ..................................................................................................</p>
                </div>
            </div>
            <p class="text1">อาจารย์ที่ปรึกษา ..........................................................................................................................................................................................................</p>
        </div>
        <!-- <hr size="1" width="100%" color="black" >  -->
        <div class="form-content2">
            <div class="info-box">
                <p>มีความประสงค์(โปรดระบุโดยละเอียด) .......................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... </p>
                <p>จึงเรียนมาเพื่อโปรดพิจารณา</p>
            </div>    
        </div>
        <div class="form-content2">
            <h4 class="titleadd">ความคิดเห็นและข้อเสนอแนะ</h5>
                <div class="row">
                    <div class="col-33">
                        <div class="comment-box">
                            <p>..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... (ลงชื่ออาจารย์ที่ปรึกษา)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="comment-box">
                            <p>..................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... (ลงชื่อหัวหน้าภาควิชา)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                    <div class="col-33">
                        <div class="comment-box">
                            <p>......................................................... (ลงชื่อเจ้าหน้าที่ทะเบียน)</p>
                            <p>..../..../....</p>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
    
</body>
</html>
